# Pandas

In [70]:
import pandas as pd
path = 'online_retail.csv'
retail_data = pd.read_csv(path,encoding='latin')
#print(type(retail_data))
print(retail_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

# Creacion de dataframes

In [2]:
import pandas as pd
path = 'online_retail.csv'
retail_data = pd.read_csv(path,encoding='latin')
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [ ]:
#importamos numpy para crar un array e importarlo sobre el dataframe
import numpy as np

data = np.array([[1,2,3],[4,5,6],[7,8,9]])

dt_from_array = pd.DataFrame(data,columns = ['A','B','C'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#creamos un dataframe a partir de la informacion de una lista
data = [[1,'Jhon',22],[2,'Anna',24]]
dt_from_list = pd.DataFrame(data, columns = ['id','nombre','edad'])
print(dt_from_list)

   id nombre  edad
0   1   Jhon    22
1   2   Anna    24

In [ ]:
#creamos un dataframe a partir de la informacion de un diccionario en formato lista clave valor
data = [{'id':1,
         'Name': 'John',
         'Age': 22
         }]
dt_from_dict_list = pd.DataFrame(data)
print(dt_from_dict_list)

   id  Name  Age
0   1  John   22

In [ ]:
#creamos un dataframe de manera diccionario
data = {'ID': [1,2,3], 'Name': ['John','Anna','Mike'], 'Age':[22,24,21]}
dtf_from_dict = pd.DataFrame(data)
print(df_from_dict)

   ID  Name  Age
0   1  John   22
1   2  Anna   24
2   3  Mike   21

In [ ]:
#creamos un dataframe a partir de la informacion de un diccionario pero en modelado tipo series
data = {'ID': pd.Series([1,2,3]),
        'Name': pd.Series(['John','Anna','Mike']),
        'Age': pd.Series([22,24,21])
        }
df_from_series_dict = pd.DataFrame(data)
print(df_from_series_dict)

   ID  Name  Age
0   1  John   22
1   2  Anna   24
2   3  Mike   21

# Structures and functions

In [3]:
# nombres de las columnas
columns_names = retail_data.columns
print(columns_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [4]:
num_rows, num_columns = retail_data.shape
print('Numero de filas',num_rows)
print('Numero de columnas',num_columns)

Numero de filas 541909
Numero de columnas 8

In [6]:
daily_sales = retail_data['Quantity']
print(daily_sales)
print(daily_sales[2])

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64
8

In [7]:
summary = retail_data.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
#funcion para obtner la media
mean_value = daily_sales.mean()
print('La media es:',mean_value)

La media es: 9.55224954743324

In [ ]:
#funcion para obtener la mediana
median_value = daily_sales.median()
print('La mediana es:',median_value)

La media es: 3.0

In [ ]:
#funcion para sumar los valores de la columna
sum_value = daily_sales.sum()
print('La suma total es:',sum_value)

La suma total es: 5176450

In [ ]:
#funcion para contar no nulos
count_value = daily_sales.count()
print('El contes es:',count_value)

El contes es: 541909

In [17]:
# ejercicio
import pandas as pd
daily_sales = retail_data['UnitPrice']

#suma de quantity
total_sum = daily_sales.sum()
print('La suma de unit price es:',total_sum)
#conteo de quantity
count_values = daily_sales.count()
print('El conteo de unit price es:',count_values)

count_values = daily_sales.median()
print('La mediana de unit price es:',count_values)

count_values = daily_sales.mean()
print('La media de unit price es:',count_values)

La suma de unit price es: 2498803.974
El conteo de unit price es: 541909
La mediana de unit price es: 2.08
La media de unit price es: 4.611113626088513

# Iloc & LOC
Diferencias Principales Entre iloc y loc:
Índices vs. Etiquetas:
iloc: Se basa en la posición (número de índice).
loc: Se basa en las etiquetas de los índices.
Inclusividad en Slicing:
iloc: Excluye el índice final en el slicing (similar a las listas en Python).
loc: Incluye tanto el inicio como el final en el slicing.
Compatibilidad con Booleanos:
loc permite la selección de filas o columnas utilizando condiciones booleanas, lo cual no es posible con iloc.

In [18]:
first_row = retail_data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                   2010-12-01 08:26:00
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [21]:
first_row = retail_data.iloc[6:8]
print(first_row)

  InvoiceNo StockCode                        Description  Quantity  \
6    536365     21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633             HAND WARMER UNION JACK         6

           InvoiceDate  UnitPrice  CustomerID         Country
6  2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7  2010-12-01 08:28:00       1.85     17850.0  United Kingdom

In [22]:
#creamos un subset del dataframe
subset = retail_data.iloc[:3,:2]
print(subset)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

In [23]:
retail_value = retail_data.iloc[1, 2]
print(retail_value)

WHITE METAL LANTERN

In [24]:
row_index_3 = retail_data.loc[3]
print(row_index_3)

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                    2010-12-01 08:26:00
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

In [ ]:
# aqui podemos indicar desde que columna queremos extraer la informacion en este caso 4
row_index_0_to_4 = retail_data.loc[:4]
print(row_index_0_to_4)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [ ]:
# extraemos la informacion de la columna quantity creando un dataframe mas pequeño
quantity_column = retail_data.loc[:,'Quantity']
print(quantity_column)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [ ]:
# el ejercicio tambien lo podemos aplicar a varias columnas sin embargo, hay que encerrarlas en []
quantity_unitprices_column = retail_data.loc[:,['Quantity','UnitPrice']]
print(quantity_unitprices_column)

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

# Manejo de datos faltantes en pandas

In [ ]:
#Lo primero que hacemos es identificar que columna o que filas tenemos datos faltantes para ello usamos el metodo isna()
missing_data = retail_data.isna()
print(missing_data)

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]

In [ ]:
#como aparentemente no tenemos datos faltantes vamos a imprimir las primeras 5 filas del dataframe en busca 
#de datos faltantes en caso de que hubiera nos dira true
print(missing_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [ ]:
#como no es facil de identificar vamos a hacer un conteo de datos faltantes que analice todo el dataset para ello usamos 
#isna y sum para sumar cuantos registros tenemos faltantes en cada columna
missing_data_count = retail_data.isna().sum()
print('Conteo de datos faltantes por columna \n:',missing_data_count)

Conteo de datos faltantes por columna
: InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [34]:
#cuando ya tenemos identificado el conteo tenemos dos opciones o rellenar los datos fdaltantes o eliminar las filas con datos faltantes
#todo va segun las necesidades podemos elegir una u otra, en este caso vamos a eliminar las filas con la funcion dropna()
no_missing_rows = retail_data.dropna()
print('Datos sin filas con valores faltantes: \n',no_missing_rows)

Datos sin filas con valores faltantes:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[406829 rows x 8 columns]

In [ ]:
#para el ejercicio vamos a eliminar las columnas con valores faltantes
no_missing_columns = retail_data.dropna(axis=1)
print('Datos sin columnas con valores faltantes: \n',no_missing_columns)

In [ ]:
# la otra forma de realizar el tratamiento a datos faltantes es rellenarlos, en este caso vamos a poner el valor 0 donde haya datos faltantes
#esto lo logramos con la funcion fillna(valor), realizamos el conteo nuevamente de cuantos datos tenemos faltantes para comprobar el ejercicio
retail_data_fillef_zeros = retail_data.fillna(0)
retail_data_fillef_zeros_count = retail_data_fillef_zeros.isna().sum()
print(retail_data_fillef_zeros_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [40]:
#como no siempre sera posible llenar con 0 ya que nos daria un margen de error muy grande en la realizacion de operaciones con los datos
#faltantes lo que se suele hacer es poner la media de todos los datos en donde encuentro datos faltantes de esa manera se asegura
#reducir el error en las operaciones
mean_unit_price = retail_data['UnitPrice'].mean()
retail_data_filled_mean = retail_data['UnitPrice'].fillna(mean_unit_price)
print(retail_data_filled_mean)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

# Manipulacion de columnas

In [2]:
# vamos a crear una columna a partir de datos generados en este caso el precio total multiplicando las columnas existentes
# quantity por unitprice
import pandas as pd

path = 'online_retail.csv'
df = pd.read_csv(path,encoding='latin')
df['TotalPrice'] = df['Quantity']* df['UnitPrice']
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [ ]:
#tambien podeos crear columnas a partir de un condicional booleano, en el ejemplo si totalprice es mayor a 16
#debera retornar true
df['Highvalue'] = df['TotalPrice'] > 16
print(df['Highvalue'].head(10))

0    False
1     True
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
Name: Highvalue, dtype: bool

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   Highvalue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [8]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   Highvalue    541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [10]:
#creamos una columba descuento usando la funcion lambda
df['DiscountedPrice'] = df['UnitPrice'].apply(lambda x: x*0.9)
print(df.head(3))

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00

   Highvalue  DiscountedPrice
0      False            2.295
1       True            3.051
2       True            2.475

In [ ]:
def categorize_price(price):
    if price > 50:
        return 'High'
    elif price >= 20:
        return 'Medium'
    else:
        return 'Low'
df['PriceCategory'] = df['UnitPrice'].apply(categorize_price)
print(df.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom       15.30
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom       25.50
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08

   Highvalue  DiscountedPrice PriceCategory
0      False            2.295           Low
1       True            3.051           Low
2       True            2.475           Low
3       True            3.051           Low
4       True            3.051           Low
5      False            6.885           Low
6       True            3.825           Low
7      False            1.665           Low
8      False            1.665           Low
9       True            1.521           Low

# Group By

In [ ]:
#Para realizar un conteo de ventas por paises podemos usar la funcion value_couunts que evalua cuanto registros tiene un determinado valor
country_count = df['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [ ]:
# en este caso vamos a sumar las cantidades totales agrupadas por paises para ello usamos la funcion groupby
country_group = df.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [ ]:
#Para sacar datos estadisticos lo que podemos hacer es con la funcion agg de agregacion podemos agrupar funciones como mean y sum
#en este caso vamos a sacar la media y suma de unitprice agrupandolo por country
country_stats = df.groupby('Country')['UnitPrice'].agg(['mean','sum'])
print(country_stats)

                            mean          sum
Country
Australia               3.220612     4054.750
Austria                 4.243192     1701.520
Bahrain                 4.556316       86.570
Belgium                 3.644335     7540.130
Brazil                  4.456250      142.600
Canada                  6.030331      910.580
Channel Islands         4.932124     3738.550
Cyprus                  6.302363     3920.070
Czech Republic          2.938333       88.150
Denmark                 3.256941     1266.950
EIRE                    5.911077    48447.190
European Community      4.820492      294.050
Finland                 5.448705     3786.850
France                  5.028864    43031.990
Germany                 3.966930    37666.000
Greece                  4.885548      713.290
Hong Kong              42.505208    12241.500
Iceland                 2.644011      481.210
Israel                  3.633131     1079.040
Italy                   4.831121     3879.390
Japan                   2.276145      814.860
Lebanon                 5.387556      242.440
Lithuania               2.841143       99.440
Malta                   5.244173      666.010
Netherlands             2.738317     6492.550
Norway                  6.012026     6529.060
Poland                  4.170880     1422.270
Portugal                8.582976    13037.540
RSA                     4.277586      248.100
Saudi Arabia            2.411000       24.110
Singapore             109.645808    25108.890
Spain                   4.987544    12633.450
Sweden                  3.910887     1806.830
Switzerland             3.403442     6813.690
USA                     2.216426      644.980
United Arab Emirates    3.380735      229.890
United Kingdom          4.532422  2245715.474
Unspecified             2.699574     1204.010

In [ ]:
#En este caso podemos agrupar por mas de una columna, usarmos country y Stockccode sumando las cantidades
country_stock_group = df.groupby(['Country','StockCode'])['Quantity'].agg('sum')
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [11]:
#Para obtener la ganancia total por cada una de los paises
def total_revenue(group):
    return(group['Quantity'] * group['UnitPrice']).sum()

revenue_per_country = df.groupby('Country').apply(total_revenue)
print(revenue_per_country)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
dtype: float64

C:\Users\Admin\AppData\Local\Temp\ipykernel_18292\1749323064.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  revenue_per_country = df.groupby('Country').apply(total_revenue)

## Ejericio
* Cuales son los 3 paises con mayor dinero recaudado en ventas y cuales son los 3 con menos

In [12]:
country_rank = revenue_per_country.sort_values(ascending=False)


top3_best = country_rank.iloc[:3]
print("Los 3 países con mayores ventas: primeros en el ranking:\n", top3_best)


top3_worst = country_rank.iloc[-3:]
print("Los 3 países con menores ventas: últimos en el ranking:\n", top3_worst)

Los 3 países con mayores ventas: primeros en el ranking:
 Country
United Kingdom    8187806.364
Netherlands        284661.540
EIRE               263276.820
dtype: float64
Los 3 países con menores ventas: últimos en el ranking:
 Country
Czech Republic    707.72
Bahrain           548.40
Saudi Arabia      131.17
dtype: float64

# Filtrado de datos

In [ ]:
#Leer el dataset de ventas desde un archivo CSV

sales_data = pd.read_csv(path)

#Convertir la columna 'InvociceDate' a tipo datetime
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])

#Eliminar filas con valores faltantes en las columnas criticas
sales_data.dropna(subset=['CustomerID', 'InvoiceDate'], inplace=True)

#Crear una nueva columna 'TotalPrice'
sales_data['TotalPrice'] = sales_data['Quantity'] * sales_data['UnitPrice']

print(sales_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [ ]:
#Filtrar ventas en el reuno unido - UK
uk_sales = sales_data[sales_data['Country'] == 'United Kingdom']
print(uk_sales)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                    ...        ...         ...             ...         ...
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom       23.40
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom       23.60
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom       30.00
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom      214.80
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom       70.80

[361878 rows x 9 columns]

In [ ]:
#aplicamos un filtrado por cantidad mayor a 10 
high_quantity_sales = sales_data[sales_data['Quantity'] > 10]
print(high_quantity_sales)

       InvoiceNo StockCode                      Description  Quantity  \
9         536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26        536370     22728        ALARM CLOCK BAKELIKE PINK        24
27        536370     22727        ALARM CLOCK BAKELIKE RED         24
28        536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724  PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                              ...       ...
541894    581587     22631         CIRCUS PARADE LUNCH BOX         12
541895    581587     22556   PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555        PLASTERS IN TIN STRONGMAN        12
541902    581587     22629              SPACEBOY LUNCH BOX         12
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
9      2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08
26     2010-12-01 08:45:00       3.75     12583.0          France       90.00
27     2010-12-01 08:45:00       3.75     12583.0          France       90.00
28     2010-12-01 08:45:00       3.75     12583.0          France       45.00
29     2010-12-01 08:45:00       0.85     12583.0          France       10.20
...                    ...        ...         ...             ...         ...
541894 2011-12-09 12:50:00       1.95     12680.0          France       23.40
541895 2011-12-09 12:50:00       1.65     12680.0          France       19.80
541896 2011-12-09 12:50:00       1.65     12680.0          France       19.80
541902 2011-12-09 12:50:00       1.95     12680.0          France       23.40
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20

[126312 rows x 9 columns]

In [ ]:
#Si queremos filtrar por 2 o mas condiciones nos quedaria de la siguiente manera:
uk_high_quantity_sales = sales_data[(sales_data['Country'] == 'United Kingdom') & (sales_data['Quantity'] > 40)]
print(uk_high_quantity_sales)

       InvoiceNo StockCode                          Description  Quantity  \
46        536371     22086      PAPER CHAIN KIT 50'S CHRISTMAS         80
82        536376     22114    HOT WATER BOTTLE TEA AND SYMPATHY        48
83        536376     21733     RED HANGING HEART T-LIGHT HOLDER        64
96        536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
101       536378    85183B  CHARLIE & LOLA WASTEPAPER BIN FLORA        48
...          ...       ...                                  ...       ...
541746    581571     23167       SMALL CERAMIC TOP STORAGE JAR         96
541747    581571     21314        SMALL GLASS HEART TRINKET POT        48
541751    581572     23328   SET 6 SCHOOL MILK BOTTLES IN CRATE        48
541867    581584     20832     RED FLOCK LOVE HEART PHOTO FRAME        72
541868    581584     85038      6 CHOCOLATE LOVE HEART T-LIGHTS        48

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
46     2010-12-01 09:00:00       2.55     13748.0  United Kingdom      204.00
82     2010-12-01 09:32:00       3.45     15291.0  United Kingdom      165.60
83     2010-12-01 09:32:00       2.55     15291.0  United Kingdom      163.20
96     2010-12-01 09:37:00       0.42     14688.0  United Kingdom       50.40
101    2010-12-01 09:37:00       1.25     14688.0  United Kingdom       60.00
...                    ...        ...         ...             ...         ...
541746 2011-12-09 12:00:00       0.69     15311.0  United Kingdom       66.24
541747 2011-12-09 12:00:00       1.85     15311.0  United Kingdom       88.80
541751 2011-12-09 12:08:00       3.39     16705.0  United Kingdom      162.72
541867 2011-12-09 12:25:00       0.72     13777.0  United Kingdom       51.84
541868 2011-12-09 12:25:00       1.85     13777.0  United Kingdom       88.80

[14245 rows x 9 columns]

In [ ]:
#filtrado por fecha
sales_2011 = sales_data[sales_data['InvoiceDate'].dt.year == 2011]
print(sales_2011)

       InvoiceNo StockCode                      Description  Quantity  \
42481     539993     22386          JUMBO BAG PINK POLKADOT        10
42482     539993     21499               BLUE POLKADOT WRAP        25
42483     539993     21498              RED RETROSPOT WRAP         25
42484     539993     22379         RECYCLING BAG RETROSPOT          5
42485     539993     20718        RED RETROSPOT SHOPPER BAG        10
...          ...       ...                              ...       ...
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
42481  2011-01-04 10:00:00       1.95     13313.0  United Kingdom       19.50
42482  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42483  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42484  2011-01-04 10:00:00       2.10     13313.0  United Kingdom       10.50
42485  2011-01-04 10:00:00       1.25     13313.0  United Kingdom       12.50
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[379979 rows x 9 columns]

In [20]:
sales_2010 = sales_data[sales_data['InvoiceDate'].dt.year == 2010]
print(sales_2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42448    539988     84380    SET OF 3 BUTTERFLY COOKIE CUTTERS         1
42449    539988    84849D                HOT BATHS SOAP HOLDER         1
42450    539988    84849B               FAIRY SOAP SOAP HOLDER         1
42451    539988     22854          CREAM SWEETHEART EGG HOLDER         2
42452    539988    47559B                  TEA TIME OVEN GLOVE         2

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42448 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        1.25
42449 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42450 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42451 2010-12-23 16:06:00       4.95     18116.0  United Kingdom        9.90
42452 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        2.50

[26850 rows x 9 columns]

In [ ]:
#Ejecutamos las ventas del mes de enero de 2010 y obtenemos que todas las ventas pertencen a diciembre
sales_2010_dec = sales_data[(sales_data['InvoiceDate'].dt.year == 2010) & (sales_data['InvoiceDate'].dt.month == 12)]
print(sales_2010_dec)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42448    539988     84380    SET OF 3 BUTTERFLY COOKIE CUTTERS         1
42449    539988    84849D                HOT BATHS SOAP HOLDER         1
42450    539988    84849B               FAIRY SOAP SOAP HOLDER         1
42451    539988     22854          CREAM SWEETHEART EGG HOLDER         2
42452    539988    47559B                  TEA TIME OVEN GLOVE         2

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42448 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        1.25
42449 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42450 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42451 2010-12-23 16:06:00       4.95     18116.0  United Kingdom        9.90
42452 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        2.50

[26850 rows x 9 columns]

# Pivot Table and Reshape
Las pivot tables son modelos reestructurados de datos crudos para realizar datos stadisticos resumir reorgnizar
o comparar subgrupos de datos que no son faciles de ver
* Para facilitar el análisis de datos, puede que la información de las filas estén mejor en columnas.
* Preparación para un modelo de Machine Learning, ciertos modelos requieren la información estructura según lo establezca el algoritmo.
* Visualización, igualmente que el primer punto, puede que sea más fácil de visualizar si está ordenado de manera diferente.
* Limpieza de datos, en ciertas ocasiones la información faltante no se muestra porque faltan filas, al hacer stack, las columnas se autocompletan mostrando la información faltante.

In [ ]:
#Un pivot table es basicamente una tabla dinamica de excel donde podemos agrupar por indices valores y agregar funciones y columnas
#especificas
pivot_table = pd.pivot_table(sales_data, values = 'Quantity', index = 'Country', columns = 'StockCode', aggfunc = 'sum')
print(pivot_table)

StockCode             10002  10080  10120  10123C  10124A  10124G  10125  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN    NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN    NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN    NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN    NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
France                372.0    NaN   10.0     NaN     NaN     NaN  470.0
Germany                 1.0    NaN    NaN     NaN     NaN     NaN  120.0
Greece                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN    NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN    NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN    NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN    NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN    NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN   20.0
USA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Kingdom        401.0  291.0  183.0     5.0    16.0    17.0  616.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN    NaN

StockCode              10133   10135  11001  ...  90214Y  90214Z  \
Country                                      ...
Australia                NaN     NaN    NaN  ...     NaN     NaN
Austria                  NaN     NaN    NaN  ...     NaN     NaN
Bahrain                  NaN     NaN    NaN  ...     NaN     NaN
Belgium                  NaN     NaN    NaN  ...     NaN     NaN
Brazil                   NaN     NaN    NaN  ...     NaN     NaN
Canada                  40.0    20.0    NaN  ...     NaN     NaN
Channel Islands          NaN     NaN    NaN  ...     NaN     NaN
Cyprus                   NaN     NaN    NaN  ...     NaN     NaN
Czech Republic           NaN     NaN    NaN  ...     NaN     NaN
Denmark                  NaN     NaN    NaN  ...     NaN     NaN
EIRE                    40.0    60.0   48.0  ...     NaN     NaN
European Community       NaN     NaN    NaN  ...     NaN     NaN
Finland                  NaN     NaN    NaN  ...     NaN     NaN
France                   NaN    10.0   16.0  ...     NaN     NaN
Germany                  NaN   200.0   32.0  ...     NaN     NaN
Greece                   NaN     NaN    NaN  ...     NaN     NaN
Iceland                  NaN     NaN    NaN  ...     NaN     NaN
Israel                  20.0     NaN    NaN  ...     NaN     NaN
Italy                    NaN     NaN    NaN  ...     NaN     NaN
Japan                    NaN     NaN    NaN  ...     NaN     NaN
Lebanon                  NaN     NaN    NaN  ...     NaN     NaN
Lithuania                NaN     NaN    NaN  ...     NaN     NaN
Malta                    NaN     NaN    NaN  ...     NaN     NaN
Netherlands              NaN     NaN    NaN  ...     NaN     NaN
Norway                   NaN    10.0   16.0  ...     NaN     NaN
Poland                   NaN     NaN    NaN  ...     NaN     NaN
Portugal                20.0     NaN   16.0  ...     NaN     NaN
RSA                      NaN     NaN    NaN  ...     NaN     NaN
Saudi Arabia             NaN     NaN    NaN  ...     NaN     NaN
Singapore                NaN     NaN    NaN  ...     NaN     NaN
Spain                    NaN     NaN   16.0  ...     NaN     NaN
Sweden                   NaN     NaN    NaN  ...     NaN     NaN
Switzerland             10.0     NaN    NaN  ...     NaN     NaN
USA                      NaN     NaN    NaN  ...     NaN     NaN
United Arab Emirates     NaN     NaN    NaN  ...     NaN     NaN
United Kingdom        2244.0  1637.0  923.0  ...    61.0    12.0
Unspecified              NaN     NaN    NaN  ...     NaN     NaN

StockCode             BANK CHARGES    C2  CRUK       D   DOT       M  PADS  \
Country
Australia                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Austria                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Bahrain                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Belgium                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Brazil                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Canada                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Channel Islands                NaN   3.0   NaN     NaN   NaN     0.0   NaN
Cyprus                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Czech Republic                 NaN   NaN   NaN     NaN   NaN     NaN   NaN
Denmark                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
EIRE                           NaN  97.0   NaN    -1.0   NaN    -1.0   NaN
European Community             NaN   NaN   NaN     NaN   NaN     NaN   NaN
Finland                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
France                         NaN   3.0   NaN     NaN   NaN   -16.0   NaN
Germany                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
Greece                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Iceland                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Israel                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Italy                          NaN   NaN   NaN    -1.0   NaN    -1.0   NaN
Japan                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Lebanon                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Lithuania                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Malta                          NaN   NaN   NaN     NaN   NaN     NaN   NaN
Netherlands                    NaN   NaN   NaN    -1.0   NaN  -480.0   NaN
Norway                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Poland                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Portugal                       NaN   NaN   NaN     NaN   NaN     1.0   NaN
RSA                            NaN   NaN   NaN     NaN   NaN     1.0   NaN
Saudi Arabia                   NaN   NaN   NaN     NaN   NaN     NaN   NaN
Singapore                      NaN   NaN   NaN     NaN   NaN     0.0   NaN
Spain                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Sweden                         NaN   NaN   NaN     NaN   NaN     1.0   NaN
Switzerland                    NaN   NaN   NaN     NaN   NaN     NaN   NaN
USA                            NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Arab Emirates           NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Kingdom                12.0  30.0 -16.0 -1191.0  16.0  3681.0   4.0
Unspecified                    NaN   NaN   NaN     NaN   NaN     NaN   NaN

StockCode               POST
Country
Australia                0.0
Austria                 37.0
Bahrain                  NaN
Belgium                272.0
Brazil                   NaN
Canada                   1.0
Channel Islands          NaN
Cyprus                   1.0
Czech Republic           0.0
Denmark                 41.0
EIRE                     NaN
European Community       9.0
Finland                 89.0
France                 803.0
Germany               1104.0
Greece                   6.0
Iceland                  NaN
Israel                   NaN
Italy                   44.0
Japan                    NaN
Lebanon                  NaN
Lithuania                NaN
Malta                   10.0
Netherlands             99.0
Norway                  57.0
Poland                   9.0
Portugal                97.0
RSA                      NaN
Saudi Arabia             NaN
Singapore                NaN
Spain                  209.0
Sweden                  37.0
Switzerland             97.0
USA                      NaN
United Arab Emirates     1.0
United Kingdom         -21.0
Unspecified              NaN

[37 rows x 3684 columns]

In [26]:
df = pd.DataFrame({
    'A': ['foo', 'bar','baz'],
    'B': [1,2,3],
    'C': [4,5,6] 
})
print(df)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [ ]:
#Realizamos una transformacion para apilar la informacion, segun nos convenga
df_stack = df.stack()
print(df_stack)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object

In [ ]:
#Para desapilarlo usamos la funcion unstack
df_unstacked = df_stack.unstack()
print(df_unstacked)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

# Fusion de dataframes: merge, concat, join

## unions

In [29]:
import pandas as pd

df1 = pd.DataFrame({

    'key': ['A', 'B', 'C'],

    'value1': [1,2,3]

})

df2 = pd.DataFrame({

    'key': ['B', 'C', 'D'],

    'value2': [4,5,6]

})

print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

In [30]:
inner_merge =  pd.merge(df1, df2, on='key', how= 'inner')
print(inner_merge)

  key  value1  value2
0   B       2       4
1   C       3       5

In [34]:
outer_merged = pd.merge(df1,df2, on='key', how='outer')
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [36]:
left_merged = pd.merge(df1,df2, on='key', how='left')
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [39]:
right_merged = pd.merge(df1,df2, on='key', how='right')
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

In [40]:
df3 = pd.DataFrame({

    'A': ['A0', 'A1', 'A2'],

    'B': ['B0', 'B1', 'B2'],

})

df4 = pd.DataFrame({

    'A': ['A3', 'A4', 'A5'],

    'B': ['B3', 'B4', 'B5'],

}) 
print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [ ]:
#en este caso la funcion concatenar va apilar uno dataframe encima del otro, por defecto se apila de manera vertical axis = 0
vertical_concat = pd.concat([df3,df4])
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [ ]:
#apilamos de manera horizontal indicandole el axis = 1
vertical_concat = pd.concat([df3,df4], axis = 1)
print(vertical_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [43]:
df5 = pd.DataFrame({

    'A': ['A0', 'A1', 'A2'],

    'B': ['B0', 'B1', 'B2']

    }, index = ['K0', 'K1', 'K2']) 

df6 = pd.DataFrame({

    'C': ['C0', 'C1', 'C2'],

    'D': ['DO', 'D1', 'D2']

    }, index = ['K0', 'K2', 'K3'])
print(df5)
print(df6)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  DO
K2  C1  D1
K3  C2  D2

In [44]:
joined = df5.join(df6,how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  DO
K2  A2  B2  C1  D1

# Analisis de series temporales

In [47]:
df = pd.read_csv(path)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [49]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [51]:
df.dropna(subset=['InvoiceDate'],inplace = True)

In [54]:
df.set_index('InvoiceDate', inplace = True)

In [ ]:
df['Year'] = df.index.year
df['Month'] = df.index.month
df['Day'] = df.index.day
df['Weekdy'] = df.index.weekday #error
df['Hour'] = df.index.hour

print(df['Year'])
print(df['Month'])
print(df['Day'])

InvoiceDate
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
                       ...
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
Name: Year, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
                       ..
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
Name: Month, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
                      ..
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
Name: Day, Length: 541909, dtype: int32

In [ ]:
#Visualizamos el dataframe completo verificando que las columnas creadas hayan quedado correctas y observamos que la columna
#weekdy tuvo un error en la escritura
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Weekdy,Hour
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,12,9,4,12

In [59]:
#Procedemos a eliminar la columna y volverla a crear de manera correcta
df =df.drop(columns = ['Weekdy'])

In [60]:
df['Weekday'] = df.index.weekday #error
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,12,9,12,4

In [ ]:
# Con la funcion loc podemos extrer directamente informacion solo pasando un parametro de dato en este caso de 2011 con base al indice
df_2011 = df.loc['2011']
df_2011.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2011-01-04 10:00:00,539993,22386,JUMBO BAG PINK POLKADOT,10,1.95,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,21499,BLUE POLKADOT WRAP,25,0.42,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,21498,RED RETROSPOT WRAP,25,0.42,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,22379,RECYCLING BAG RETROSPOT,5,2.10,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,20718,RED RETROSPOT SHOPPER BAG,10,1.25,13313.0,United Kingdom,2011,1,4,10,1

In [62]:
#vamos a hacer el ejercicio extrayendo informacion del 2011 diciembre
df_2011_dec = df.loc['2011-12']
df_2011_dec.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2011-12-01 08:12:00,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,4.15,13853.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,1.25,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,23374,RED SPOT PAPER GIFT BAG,-1,0.82,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,0.85,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:18:00,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,25.00,13644.0,United Kingdom,2011,12,1,8,3

In [64]:
#vamos a extraer informacion en un rango de fechas
df_dec_range = df.loc['2010-12-01':'2010-12-15']
df_dec_range.head(20)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,4.25,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:28:00,536366,22633,HAND WARMER UNION JACK,6,1.85,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:28:00,536366,22632,HAND WARMER RED POLKA DOT,6,1.85,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2.10,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2.10,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,3.75,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,22310,IVORY KNITTED MUG COSY,6,1.65,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,4.25,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,4.95,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,9.95,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,21754,HOME BUILDING BLOCK WORD,3,5.95,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,21755,LOVE BUILDING BLOCK WORD,3,5.95,13047.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:34:00,536367,21777,RECIPE BOX WITH METAL HEART,4,7.95,13047.0,United Kingdom,2010,12,1,8,2

In [66]:
date_range_new = pd.date_range(start='2024-01-01', end='2024-12-31',freq='D')
date_range_new

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [69]:
df_dates = pd.DataFrame(date_range_new, columns = ['Date'])
df_dates

          Date
0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
..         ...
361 2024-12-27
362 2024-12-28
363 2024-12-29
364 2024-12-30
365 2024-12-31

[366 rows x 1 columns]